<% item = log.resource %>
<% if item.present? %>
	<% case item.commentable_type %>
	<% when "Ask" %>
		<div class="ask" ask-id="<%= log.id %>">
			<div class="title small_title">
				<%= user_name_tag(log.user) %> 评论了问题 <a href="/asks/<%= item.commentable.id %>?easc=yes&asid=<%=item.commentable.id %>#ask_comments">#<%= log.title %></a></div>
		</div>
	<% when "Answer" %>
		<div class="ask" ask-id="<%= log.id %>">
		  <div class="title small_title"><%= user_name_tag(log.user) %> 评论了问题 <a href="/asks/<%= item.commentable.ask.id %>?eawc=yes&awid=<%= log.title %>#answer_<%= log.title %>">#<%= log.title %></a> 中的回答</div>
		</div>
	<% end %>
<% end %>